.search {
    width: 300px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
}

.search:focus {
    font-size: 16px;
    color: black;
    transition: all 0.2s ease;
    outline: none;
    box-shadow: 0 0 10px #3cb4ff;
    border: 1px solid #3cb4ff;
}